# My directories
backup/
Calum/
Lagrange/
old/
binary/
data/
exchange/
kepler_binary/
movies/
orbit/
plots/
radial_velocity/
winter/
bin/
build/
debug_build/
lib/

# Emacs backups
*~

# My scripts
update_library.sh
